main{
    padding: 3em;
    display: flex;
    justify-content: center;
}

.content{
    width: 400px;
    height: 350px;
    background-color: white;
    border-radius: 8px;
    padding: 3em;
}

.botao {
    background-color: #000000;
    border: 2px solid #000000;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    font-family: arial;
    font-weight: bold;
    color: white;
    text-decoration: none;
    justify-content: center;
    display: flex;
    margin-top: 60px;
    
}

.botao:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}